<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <h1 style="text-align: center;">RECU DE PAIEMENT</h1>
    <br>
    <br>
    <hr style="border-top: 1px solid;margin-left: 10%;margin-right: 10%;">
    <br>



    <div style="margin-left: 10%;">
<h1><span>Date : </span>{{myDate | date: 'shortDate' }}</h1>
<h1><span>PaimentID : </span>#{{this.pId}}</h1><br>
<h1><span>First name & Last name : </span>#{{this.pId}}</h1><br>
<h1><span>Camping Id : </span>#{{this.CId}}</h1><br>


    </div>

    <div style="float: right;margin-right: 20%;">
<img width="150px" height="150px" src="./../../../../assets/images/signature.png" alt="">
    </div>
</body>
</html>